<section id="choose" class="choose">
  <div class="choose__wrapper">
  <div class="container choose__container">
    <div class="choose__content-box">
      <h2 class="choose__title">Why Choose Us</h2>
      <div class="choose__description">
        <p class="choose__text">
          Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee 
        </p>
        <p class="choose__text">
          Ddislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that.
        </p>
      </div>
      <a class="button choose__button" href="#">Explore Places</a>
    </div>
    <div class="choose__image-box">
      <div class="choose__image-wrapper">
        <img class="choose__image" src="images/card-2.png" alt="card1">
      </div>
      <div class="choose__image-wrapper">
        <img class="choose__image" src="images/card-1.png" alt="card2">
      </div>
    </div>
  </div>
  </div>
</section>