<section id="icon" class="icon">
   <div class="container icon__container">
     <div class="icon__line-wrapper">
       <img src="images/line.png" alt="">
     </div>
     <ul class="icon__list">
       <li class="icon__item">
         <div class="icon__icon-wrapper">
           <img src="images/svg/search-large.svg" alt="search">
         </div>
         <h2 class="icon__title">Search Places</h2>
       </li>
 
       <li class="icon__item">
         <div class="icon__icon-wrapper">
           <img src="images/svg/success.svg" alt="success">
         </div>
         <h2 class="icon__title">Select Places</h2>
       </li>
 
       <li class="icon__item">
         <div class="icon__icon-wrapper">
           <img src="images/svg/ok.svg" alt="ok">
         </div>
         <h2 class="icon__title">Book & Enjoy</h2>
       </li>
     </ul>
   </div>
 </section>