<section class="spain" id="spain">
    <div class="spain__left">
        <div class="spain__container--left container">
            <div class="spain__content--left">
                <span class="spain__title">Spain</span>
                <h3 class="spain__subtitle">Grand Spain Madrid</h3>
                <p class="spain__text">But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system</p>
                <a class="spain__button button" href="">Book Now</a>
            </div>
        </div>
    </div>


    <div class="spain__right">
        <div class="spain__container--right container">
            <div class="spain__content--right">
                <span class="spain__title">Spain</span>
                <h3 class="spain__subtitle">Grand Spain Madrid</h3>
                <p class="spain__text">But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system</p>
                <a class="spain__button button " href="">Book Now</a>
            </div>
        </div>
    </div>
</section>
